@import "../../variables.scss";

.homepage{
   display: flex;
   flex-direction: row;
}

.hero-section{
   display: flex;
   flex-direction: column;
   padding-top: 140px;
   z-index: 10;
}

.hs-text {
   display: flex;
   flex-direction: column;
   width: 460px;
   height: 270px;
}

.hs-links {
   display: flex;
   flex-direction: row;   
   align-items: center;
   justify-content: space-between;
   width: 456px;
}

.arrow {
   width: 100px;
   height: 100px;
   margin-left: 10px;
}
.violet-text {
   background: $violetText;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
   font-size: 46px;
}
.hero-section p {
   font-weight: 400;
   font-size: 16px;
   padding-top: 36px;
   padding-bottom: 60px;
}

.hero-section h1 {
   font-weight: 700;
   font-size: 40px;
}

.vectors-bg{
   position: relative;
   width: 100%;
}

.v4 {
   position: absolute;
   max-width: 238.07px;
   height: 561px;
   left: 2.5px;
   top: 214px;
   z-index: -1;

}

.mask {
   position: absolute;
   max-width: 490px;
   height: 426px;
   right: 2px;
   top: 130px;
   z-index: 10;
   border-radius: 100px 100px 100px 240px;
   box-shadow:rgba(0, 0, 0, 0.9) 0px 8px 24px;
}


.v3 {
   position: absolute;
   max-width: 735.03px;
   height: 419.32px;
   right: -84px;
   top: 319.18px;
   z-index: -1;

}

.v2 {
   position: absolute;
   max-width: 377px;
   height: 845px;
   right: 0px;
   top: -100px;
   z-index: -1;

}

.v1 {
   position: absolute;
   max-width: 414px;
   height: 669px;
   right: -84px;
   top: 70px;
   z-index: -1;
}

@media screen and (max-width: 1240px){

   .homepage {
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: wrap-reverse;
      gap: 300px
      }

   .vectors-bg{
      position: relative;
      width: 100%;
      margin-top: -100px;
   }

   .hero-section {
      max-width: 300px;
      height: 100px;
      margin: auto;
   }

.hs-text {
   max-width: 320px;

}

   .hero-section h1 {
      font-weight: 700;
      font-size: 24px;
      max-width: 100%;
      padding-bottom: 36px;
      }

   .btn-full-large{
      width: 300px;
      font-size: 14px;
      height: 52px;
   }

   .violet-text {
      font-weight: 700;
      font-size: 36px;
   }

   .hero-section p {
      display: none;
   }
   .arrow {
      display: none;
   }
   .mask {
      position: absolute;
      width: 319px;
      height: 277px;
      right: 15%;
      top: 150%;
      border-radius: 100px 100px 100px 240px;
   }

}