
.ts-swiper{
   max-width: 100%;
}
.ts-card {
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width: 360px;
   height: 290px;
   background: transparent;
   margin-left: 15px;
}

@media screen and (max-width: 1240px){
   .ts-swiper{
      max-width: 100%;
   }
   .ts-card {
      width: 100%;
      margin: 0 auto;
   }
   .swiper-button-next, .swiper-button-prev{
      color: #433D60;
      border: 3px solid rgba(14, 14, 14, 0.32);
      background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);      
      width: 68px;
      height: 68px;
      border-radius: 50%;
   }
}