@import "../../variables.scss";


.howto-section {
   display: flex;
   flex-direction: column;
   gap: 100px;
   padding-top: 140px;
   padding-bottom: 100px;
   z-index: 10;
   width: 100%
}

.ht-text {
   display: flex;
   flex-direction: row;
   gap: 115px;
}

.display{
   display: flex;
   font-weight: 700;
   font-size: 36px;
   color: #fff;
   margin-bottom: 10px;
}

.howto-section h3 {
   font-weight: 300;
   font-size: 36px;
   color: #fff;
}

.ht-header{
   display: flex;
   flex-direction: row;
   gap: 30px;
   height: 50px;
   margin-bottom: 120px;
}

.ht-vector {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-top: -300px;
   margin-left: 15px;
}

.v-15 {
   width: 1449px;
   height: 163px;
   margin-left: -200px;
}

.ht-1 {
   width: 198px;
   height: 198px;
   background: rgba(13, 13, 13, 0.32);
   border-radius: 50%;
}

.ht-small-circle {
   width: 159px;
   height: 159px;
   margin: 20px;
   font-weight: 700;
   font-size: 64px;
   background: linear-gradient(251.27deg, #C0B7E8 12.87%, #8176AF 89.33%);;
   text-align: center;
   line-height: 150px;
   border-radius: 50%;
}

.ht-card{
   width: 400px;
   height: 400px;
   display: flex;
   flex-direction: column;

}
.ht-card-desc{
   display: flex;
   flex-direction: row;
   margin-top: 50px;
   img{
      width: 65px;
      height: 65px;
      margin-top: -15px;
   }
   p{
      font-weight: 700;
      font-size: 24px;
      width: 157px;
   }
}

@media screen and (max-width: 1240px){
   .ht-text{
      flex-direction: column;
      align-items: center;
   }
   .ht-vector{
      margin-top: -300px;
      max-width: 100%;
   }
   .ht-card {

      margin-left: 30%;
      height: 400px;
   }
   .swiper-button-next, .swiper-button-prev{
      color: #433D60;
      border: 3px solid rgba(14, 14, 14, 0.32);
      background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);      
      width: 68px;
      height: 68px;
      border-radius: 50%;
   }
   .v-15, .ht-none {
      display: none;
   }
}