@import "../../variables.scss";


.services-section {
   display: flex;
   flex-direction: column;
   gap: 100px;
   padding-top: 140px;
   padding-bottom: 100px;
   z-index: 10;
   width: 100%
}

.ss-text {
   display: flex;
   flex-direction: row;
   gap: 115px;
}

.services-section h2 {
   font-weight: 700;
   font-size: 36px;
   color: #fff;
   margin-bottom: 10px;
}

.services-section h3 {
   font-weight: 300;
   font-size: 36px;
   color: #fff;
}

.ss-header{
   display: flex;
   flex-direction: row;
   gap: 30px;
   height: 50px;
}

.v-14 {
   position: absolute;
   width: 1442px;
   height: 814px;
   left: -3px;
   top: 187px;
}

@media screen and (max-width: 1240px){

   .ss-none{
      display: none;
   }
   .services-section{
      align-items: center;
      text-align: center;
      gap: 50px;
   }
   .ss-h2 {
      margin-left: 70px;

   }
   .ss-header {
      margin-left: 60px;
   }
}