.join-section {
   position: relative;
   display: flex;
   flex-direction: column;
   gap: 30px;
   background: radial-gradient(50% 50% at 50% 50%, #403A5F 0%, #211E2E 100%);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 100px;
   max-width: 1275px;
   width: 100%;
   height: 1008px;
   padding: 90px 100px 90px 100px;
   margin-top: 140px;
   gap: 10px;
}

.join-section h2 {
   text-align: center;
   margin-bottom: 30px;
}

.join-section h3 {
   text-align: center;
   margin-top: 50px;
}

.join-section img {
   position: absolute;
   left: 50%;
   transform: translate(-50%, -50%);
}

.js-upperform {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   margin-top: 65px;
}


.js-input {
   border: 2px solid #FFFFFF;
   border-radius: 40px;
   background-color: transparent;
   max-width: 524px;
   width: 100%;
   height: 72px;
   margin-bottom: 10px;
   padding: 30px;
   &::placeholder {
      font-size: 14px;
      line-height: 17px;
      color: #ffffff;
   }
}

.js-input-subject {
   border: 2px solid #FFFFFF;
   border-radius: 40px;
   background-color: transparent;
   max-width: 1058px;
   width: 100%;
   height: 72px;
   margin-bottom: 10px;
   padding: 30px;
   &::placeholder {
      font-weight: 400;
      font-size: 14px;
      color: #ffffff;
   }
}

.js-input-textarea {
   max-width: 1058px;
   width: 100%;
   height: 210px;
   border: 2px solid #FFFFFF;
   border-radius: 40px;
   background-color: transparent;
   padding: 30px;
   &::placeholder {
      font-weight: 400;
      font-size: 14px;
      color: #ffffff;
   }
}

.join-section button {
   position: absolute;
   bottom: 15%;
   left: 50%;
   transform: translate(-50%, -50%);
}

@media screen and (max-width: 1240px){
   .join-section {
      padding: 45px 25px;
   }
   .js-upperform {
      justify-content: center;
   }

   .js-input {
      height: 32px;
   }

   .js-input-textarea {
   height: 220px;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   }
   .join-section button {
      position: absolute;
      bottom: 3%;
      left: 50%;
      transform: translate(-50%, -50%);
   }
}