@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import './mixins.scss';

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, p, a {
  color: #fff;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  color: #fff;
  margin-bottom: 10px;
}

h3 {
  font-weight: 300;
  font-size: 36px;
  color: #fff;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: #302C42;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}

.main-section {
  max-width: 100%;
  height: 920px;
  padding: 50px 84px 50px 84px;
}

.btn {
  padding: 18px 36px;
  font-size: 12;
  max-width: 154px;
  height: 48px;
  background: transparent;
  color: #fff;
  border: 2px solid #FFFFFF;
  border-radius: 40px;
}

.btn-full {
  padding: 18px 36px;
  font-size: 12;
  font-weight: 700;
  max-width: 154px;
  height: 48px;
  background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
  color: #343045;
  border-radius: 40px;
  border: none
}

.btn-full-large {
  padding: 18px 36px;
  font-weight: 700;
  font-size: 12px;
  width: 214px;
  height: 48px;
  background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
  color: #343045;
  border-radius: 40px;
  border: none;
}

// @media screen and (max-width: 1240px){
//   .home-section {
//     padding: 5px 5px 5px 5px;
//   }
// }

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//     monospace;
// }
